[keymap]
"Ctrl+f" = "search"
"Ctrl+r" = "refresh"
[[mgr.prepend_keymap]]
on   = [ "c", "m" ]
run  = "plugin chmod"
desc = "Chmod on selected files"
[[mgr.prepend_keymap]]
on   = "f"
run  = "plugin jump-to-char"
desc = "Jump to char"
[[mgr.prepend_keymap]]
on   = "2"
run  = "plugin smart-switch 1"
desc = "Switch or create tab 2"
[[mgr.prepend_keymap]]
on   = "3"
run  = "plugin smart-switch 2"
desc = "Switch or create tab 3"
[[mgr.prepend_keymap]]
on   = "4"
run  = "plugin smart-switch 3"
desc = "Switch or create tab 4"
[[mgr.prepend_keymap]]
on   = "5"
run  = "plugin smart-switch 4"
desc = "Switch or create tab 5"

[[mgr.prepend_keymap]]
on   = "F"
run  = "plugin smart-filter"
desc = "Smart filter"
[[manager.prepend_keymap]]
on   = "!"
run  = 'shell "$SHELL" --block'
desc = "Open shell here"

